<div id="extension-buttoninput-content">
  
    <div id="extension-buttoninput-content-container">
        <h3 id="extension-buttoninput-title"><span id="extension-buttoninput-iconx"></span>Button Input</h3>
        <div id="extension-buttoninput-not-ready-warning" style="display:none">
            <h1>Not ready yet</h1>
            <p>Button Input waits 20 seconds before starting so that all other addons have had some time to generate all the required device information.</p>
            <p>Please come back in 20 seconds.</p>
        </div>
        <div id="extension-buttoninput-missing-key-warning" style="display:none">
            <h1>Missing permission to read and control devices</h1>
            <p>To use buttoninput you will have to give it permission to access your devices. Button Input currently does not have permission.</p>
            <p>The Candle app store can give Button Input this permission. Visit the settings page for this addon via the Candle app store, and allow this addon to access your things. Then click save.</p>
            <p>If you don't have the Candle App Store, go to <a href="/settings/developer">Settings -> Developer</a> and then Create Local Authorization. Generate a key there by clicking on Allow at the bottom of the page. Copy the token that's generated, and then visit the settings page for this addon. There you can paste in the code, and click Apply to save it.</p>
        </div>
		
		<!--
        <div id="extension-buttoninput-list">
            <div id="extension-buttoninput-list-explanation">
                <div style="padding: 2rem; background-color: rgba(0,0,0,.1); border-radius: 0.5rem;">
                    <h3>How it works</h3>
                    <p>Button Input allows you to have the value of one property 'follow' the value of another.</p>
                    <p>For example, you could have a light's brightness follow the volume of the radio.</p>
                    <p>&nbsp;</p>
                    <img src="/extensions/buttoninput/images/buttoninput-example.png" alt="buttoninput example" style="width:100%;border-radius:.5rem"/>
                    <p style="text-align:center;font-style:italic; opacity:.8">The louder the radio, the brighter the light (example)</p>
                </div>
            </div>
        </div>
		-->
        
        
        <div id="extension-buttoninput-original-item" class="extension-buttoninput-item">
            
            <div class="extension-buttoninput-item-sentence">
                <div class="extension-buttoninput-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-buttoninput-limit extension-buttoninput-limit1" name="extension-buttoninput-limit1" value="0">
                        to 
                        <input type="number" step="0.001" class="extension-buttoninput-limit extension-buttoninput-limit2" name="extension-buttoninput-limit2" value="100">
                        of 
                    </span>
                    <span class="extension-buttoninput-leader">
                        <select class="extension-buttoninput-thing1 extension-buttoninput-dropdown">
                            <option value=""></option>
                        </select><select class="extension-buttoninput-property1 extension-buttoninput-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
                
                <div class="extension-buttoninput-item-sentence-part extension-buttoninput-item-sentence-part-inter">
                    should translate to values between
                </div>
                
                <div class="extension-buttoninput-item-sentence-part">
                    <span>
                        <input type="number" step="0.001" class="extension-buttoninput-limit extension-buttoninput-limit3" name="extension-buttoninput-limit3" value="0"> 
                        to 
                        <input type="number" step="0.001" class="extension-buttoninput-limit extension-buttoninput-limit4" name="extension-buttoninput-limit4" value="100"> 
                        of 
                    </span>
                    <span class="extension-buttoninput-follower">
                        <select class="extension-buttoninput-thing2 extension-buttoninput-dropdown">
                            <option value=""></option>
                        </select><select class="extension-buttoninput-property2 extension-buttoninput-dropdown">
                            <option value=""></option>
                        </select>
                    </span>
                </div>
                
                <div class="extension-buttoninput-item-sentence-part extension-buttoninput-item-sentence-part-inter">
                    every <select class="extension-buttoninput-speed extension-buttoninput-dropdown">
                            <option value="7">minute</option>
                            <option value="2">10 seconds</option>
                            <option value="0">second</option>
                            
                            
                        </select>
                </div>
            </div>
            
            <div class="extension-buttoninput-item-menu">
                <div class="extension-buttoninput-item-left">
                    <form class="rule-switch switch">
                        <input type="checkbox" id="extension-buttoninput-toggle-checkbox" class="switch-checkbox extension-buttoninput-enabled">
                        <label class="switch-slider" for="extension-buttoninput-toggle-label">
                        </label>
                    </form>
                </div>

                <div class="extension-buttoninput-item-right">

                    <div class="extension-buttoninput-item-delete-button">&nbsp;</div>
                </div>
            </div>
        
            <div class="rule-edit-overlay delete">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to remove this follower permanently?</p>
                    <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="rule-delete-confirm-button" type="button" value="Remove">
                </div>
            </div>
            
        </div>

		
		<div id="extension-buttoninput-overview-error" style="display:none"><h2>An error occured</h2></div>
		
		<div id="extension-buttoninput-overview"></div>


        <div id="extension-buttoninput-rescan-button-container">
            <p>Rescan will clear all recorded input data, and re-detect all currently plugged in devices.</p>
			<button id="extension-buttoninput-rescan-button">Rescan</button>
        </div>
		
        <div id="extension-buttoninput-rescan-button-container">
            <p>Get the latest button presses data</p>
			<button id="extension-buttoninput-update-button">Update</button>
        </div>


        <br/>
        <br/>

        <div id="extension-buttoninput-debug-warning" style="display: none;">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Button Input</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.</p>
        </div>
        
        <br/>
        <br/>
        
        <div id="extension-buttoninput-response">
            <p id="extension-buttoninput-response-data"></p>
        </div>
        
        <br/>

    </div>
    
	
	<button id="extension-buttoninput-save-button" class="icon-button" aria-label="Save" style="display:none"></button>
	
    <button id="extension-buttoninput-add-button" class="icon-button" aria-label="New"></button>
    
</div>





