<div id="extension-buttoninput-content">
  
    <div id="extension-buttoninput-content-container">
        <h3 id="extension-buttoninput-title"><span id="extension-buttoninput-iconx"></span>Button Input</h3>
        <div id="extension-buttoninput-not-ready-warning" style="display:none">
            <h1>Not ready yet</h1>
            <p>Button Input waits 20 seconds before starting so that all other addons have had some time to generate all the required device information.</p>
            <p>Please come back in 20 seconds.</p>
        </div>
        <div id="extension-buttoninput-missing-key-warning" style="display:none">
            <h1>Missing permission to read and control devices</h1>
            <p>To use buttoninput you will have to give it permission to access your devices. Button Input currently does not have permission.</p>
            <p>The Candle app store can give Button Input this permission. Visit the settings page for this addon via the Candle app store, and allow this addon to access your things. Then click save.</p>
            <p>If you don't have the Candle App Store, go to <a href="/settings/developer">Settings -> Developer</a> and then Create Local Authorization. Generate a key there by clicking on Allow at the bottom of the page. Copy the token that's generated, and then visit the settings page for this addon. There you can paste in the code, and click Apply to save it.</p>
        </div>
		
		
        
        

		
		<div id="extension-buttoninput-overview-error" style="display:none"><h2>An error occured</h2></div>
		
		<div id="extension-buttoninput-overview"></div>


        <div id="extension-buttoninput-rescan-button-container">
            <p>Rescan will clear all recorded input data, and re-detect all currently plugged in devices.</p>
			<button id="extension-buttoninput-rescan-button" class="text-button">Rescan</button>
        </div>
		
        <div id="extension-buttoninput-rescan-button-container" class="extension-buttoninput-show-if-developer">
            <p>Get the latest button presses data</p>
			<button id="extension-buttoninput-update-button"  class="text-button">Update</button>
        </div>

        <div id="extension-buttoninput-show-all-button-container">
            <p>Show all potential buttons</p>
			<button id="extension-buttoninput-show-all-button" class="text-button">Show all</button>
        </div>



        <br/>
        <br/>

        <div id="extension-buttoninput-debug-warning" style="display: none;">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Button Input</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.</p>
        </div>
        
        <br/>
        <br/>
        
        <div id="extension-buttoninput-response">
            <p id="extension-buttoninput-response-data"></p>
        </div>
        
        <br/>

    </div>
    
	
	<button id="extension-buttoninput-save-button" class="icon-button" aria-label="Save" style="display:none"></button>
	
    <button id="extension-buttoninput-add-button" class="icon-button" aria-label="New"></button>
    
</div>





